html,body {
    padding:0;
    margin:0;
    height:100%;
}
ul,ol {
    list-style:none;
    padding:0;
    margin:0;
}
.f-l {
    float:left;
}
.f-r {
    float:right;
}
.clear:after {
    clear:both;
    font-size:0;
    width:0;
}
.opct {
    display:none;
}
#app {
    height:100%;
}
.container {
    /* background: url('../img/bg.jpg') center no-repeat; */
    height:100%;
  }
  .small-tit {
    line-height:60px;
    font-size:14px;
    text-indent:30px;
  }
  .nav {
    height: 60px;
    background-color:rgba(0,0,0,.8);
    color:#fff;
  }
  .nav li {
    float:right;
    width:80px;
    line-height:60px;
    text-align:center;
  }
  .nav li a {
      color:#fff;
      text-decoration:none;
      display:block;
  }
  .nav li:hover {
    background-color:#0297b7;
    cursor:pointer;
    
  }
